body, html{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.scroll-container {
  scroll-snap-type: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

section{
  scroll-snap-align: start;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 19px;
  letter-spacing: .2em;
  font-weight: 800;
}

